@model Nortwind.MvcWebUI.Models.ProductAddViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m=>Model.Product.ProductName,"ProductName")
            @Html.TextBoxFor(m=>Model.Product.ProductName,new { @class="form-control"})
            @Html.ValidationMessageFor(m => Model.Product.ProductName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Product.CategoryId, "Category Id")
            @Html.DropDownListFor(m => Model.Product.CategoryId,Model.Categories,new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Product.CategoryId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Product.QuantityPerUnit, "QuantityPerUnit")
            @Html.TextBoxFor(m => Model.Product.QuantityPerUnit, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Product.QuantityPerUnit)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Product.UnitPrice, "UnitPrice")
            @Html.TextBoxFor(m => Model.Product.UnitPrice,
           new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Product.UnitPrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model.Product.UnitsInStock, "UnitsInStock")
            @Html.TextBoxFor(m => Model.Product.UnitsInStock,string.Format("{0:n2}", Model.Product.UnitsInStock).Replace(",",".")
           , new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Product.UnitsInStock)
        </div> 
            
        @Html.HiddenFor(m=>m.Product.Id) 
        <button type="submit" class="btn btn-primary">Update</button>  

    }

</div>
